.tarefas {
  margin-top: 30px;

}
.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
}

.tarefas li:hover{
  background: #d9d9d9;
  transition: all 600ms;
}

.tarefas li .edit {
  margin-right: 15px;
  color: #51c5de;
  cursor: pointer;
}
.tarefas li .delete {
  color: red;
  cursor: pointer;
}
 .tarefas li span {
  display: flex;
  align-items: center;
 }
